@font-face {
  font-family:Rotterburg;
  src: url('../public/fonts/Rotterburg.otf') format("opentype");
}
@font-face {
  font-family: sans-italic;
  src: url('../public/fonts/GeneralSans-Italic.otf');
}
@font-face {
  font-family: sans-med;
  src: url('../public/fonts/GeneralSans-Medium.otf');
}
@font-face {
  font-family: sans;
  src: url('../public/fonts/GeneralSans-Regular.otf');
}

@font-face {
  font-family: sf;
  src: url('../public//fonts/sf-med.ttf');
}

:root {
  background-color: #f7f7f7;
}
main{

  margin-left: 56px;
  margin-right: 56px;
}

#features {
  display: flex;
  
}
#workflow {
  width: 20rem;
}
#feature {
  width: 24rem;
}

#features-container {
  display:flex;
  justify-content: space-between;
}
#title {
  font-weight: 300;
  font-size: 10rem;
  font-family: rotterburg;
  margin:0;
}

h3 {
  font-family: sans;
  font-size: 24px;
  font-weight:300;
  text-decoration: underline; 

}

li {
  list-style-type: none;

}
#video {
  border-radius: 10px;
  padding-right: 1% ;

}
#desc{
  font-family: rotterburg;
  font-size: 24px;
  margin:0
}

p, li {
  font-family: sans;
  font-size:24px;
}
#crafting-web-applications {
  font-size: 80px;
}
button {
  border: 1px solid black;
  border-radius: 36px;
  background-color: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 8px;
  display:flex;
  align-items: center;
  height:fit-content;
  width:fit-content;
  font-size: 24px;
  font-family: sans;
}


h2 {
  font-family: rotterburg;
  font-size: 48px;
  font-weight:300;
}








.about-desc-1 {
  font-size: 10rem;
  margin:0;


}
#about-desc-right {
  align-self: flex-end;
  margin-left:5rem
}
#about-image {
  margin-left:2rem;
}

#about-project {
  margin-top: -10px
}
#about-experience {
  margin-top: -10px
}

#know-more {
  display: flex;
  justify-content: space-between;
}
#know-more-text {
  margin-top:-20px;
  display: flex;
  width:32rem;
  gap:5rem;
  
}

ul{
  padding:0
}

#price {
  font-size:7rem;
  margin:0;
  color: #4E5651;
}

#membership-header {
  display: flex;
  align-items: flex-end;
  gap:24px;
  
}


#building-brands-through-art {
  font-size: 6rem;
}
#hero-image {
  height: 400px;
}

span {
  font-style: italic;
  border:1px solid black;
  
}


#navbar {
  display: flex;
  gap:64px;
  position:sticky;
  top:0;
}

#navbar-items {
  display:flex;
  background-color: white;
  gap:60px;
  justify-content: center;
  width:78rem;
  border-bottom: 1px solid black;
  padding-bottom: 24px;

}

#desc {
  display:flex;
  flex-direction: column;
  z-index: 1;
  color:#434B46;


}

#homepage-image {
  padding-left: 21rem;
  transform: translateY(-9rem);
  z-index: -1;
}

#homepage-description {
  display:flex;
  align-items: center;
  width:42rem;
  margin-left:44rem;
  transform: translateY(-9rem)
}

#homepage-desc-2 {
  margin-top:-32px;
}

#about-desc {
  display: flex;
  margin-top:6rem;
  margin-bottom:8rem;
  
}

#about-para {
  width:56rem;
  
  
}

#about {
  margin-top: -8rem;
  margin-bottom:10rem;
}

#map {
  opacity: 5%;
}
#art-text {
  transform:translate(22rem, 28rem);
  width:fit-content;
}
#building-brands-through-art {
  width:48rem;
  font-size: 5rem;
  margin:0;
}

#brands-through-art {
  margin-top:-28rem
}

#crafting {
  width: 66rem;
  margin-top:8rem;
}

#experience {
  display: flex;
  gap: 4rem;
  border:1px solid #4E5651;;
  padding-left:6rem;
  width:48rem;
  height:18rem;
  border-radius: 200px;
  margin-top:4rem;
  margin-bottom:8rem;


}

#greenline {
  transform: translateY(12rem);
}

#exp-1-head {
  font-size: 12rem;
  margin: 0;
  padding: 0;
  font-family: rotterburg;
  color: #4E5651;
}
#exp-2-head {
  font-size: 12rem;
  margin: 0;
  padding: 0;
  font-family: rotterburg;
  color:#4E5651;
}

#exp-1-txt {
  font-size: 2rem;
  margin: 0;
  font-family: rotterburg;
  color: #4E5651;
}

#exp-2-txt {
  font-size: 2rem;
  margin: 0;
  color: #4E5651;
  font-family: rotterburg;
}

#crafting-web {
  display:flex;
  gap:4rem;


}

#crafting-web-desc {
  font-size:24px;
}

.desc-title {
  border: 1px solid;
  border-radius: 32px;
  width:fit-content;
  padding:2px 10px 2px 10px;

}

#reviews {
  margin-bottom:8rem;

}

#membership-benefits-desc {
  display: flex;
  gap:4rem;

}

.mem-child {
  width: 24rem;
}

#mem-main {
  display: flex;
  justify-content: space-around;
  margin-bottom:8rem;
}

#schedule {
  border:none;
  text-decoration: underline;
  
}

#mem-details{ 
  display: flex;
  gap:24rem;
  align-items: end;

}

#mem-title {
  font-size: 5rem;
  width:80rem;
  margin:0;
  
  
}

#mem-left {
  width:40rem;

}

#mem-left>#mem-left-desc {
  font-size: 20px;

}

#faq {
  font-size: 5rem;
  margin-top:8rem;
  
  
}

#line {
  background-color:black;
  height:1px;
  width:100%;
  margin:-8px

}

#contact{
  margin-top: 8rem;
  display: flex;
  gap:4rem;
}
#contact-left {
  height:700px;
  width:350px;
  background-color: #9AAA9F;
}

#contact-right {
  width:54rem;
  display:flex;
  flex-direction: column;
  justify-content: space-between;

}

#contact-title {
  font-size:4rem;
  margin:0
}

#links {
  display: flex;
  flex-direction: column;
  gap:1.5rem;


}
.link {
  font-family: rotterburg;
  font-size:2.5rem;
  padding: 2px 10px;
  width: fit-content;
  border: 1px solid;
    border-radius: 48px;
    padding: 2px 10px;
    width: fit-content;
    cursor: pointer;
}
.link:hover {
  border:1px solid;
  border-radius: 48px;
  padding:2px 10px;
  width:fit-content;
  cursor: pointer;

}

#work-items {
  display:flex;
  flex-wrap: wrap;
  gap: 1rem
}

@media screen and (max-width: 440px) {
  main {
    /* display:flex;
    flex-direction: column; */
    width:100%;
    /* justify-content: center; */
    margin: 1rem;
    overflow:hidden;

    
  }

  /* first page */

  #navbar {
    width:100%;
    font-size: 10px;
    gap:10px;
    display: flex;
    justify-content: space-between;
    margin-top:16px;
    align-items: center;

  }

  #nav {
    scale:0.6;

  }

  #line {
    width:18rem;
    margin:0;
    margin-top: 10px;
  }

    /* #navbar-items {
      display: flex;
      background-color: white;
      gap: 10px;
      justify-content: center;
      width: 340px;
      border-bottom: 1px solid black;
      padding-bottom: 24px;
    } */

  #logo {
    height:100px
  }

  #title {
    font-size: 5rem;
    margin-top:3rem;

  }

  #subsribe {
    transform: translateY(-1rem);
  }

#homepage-image {
  padding-left: 0rem;
  transform: translateY(0rem);
  width:23rem;
  z-index: -1;
  height:250px;
  margin-top:16px;

}

#homepage-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 0rem;
  transform: translateY(0rem);
  font-size: 20px;
  width:22rem;
  margin-bottom: 12rem;
  align-items: flex-start;
  margin-right:2rem;

}

  #home-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width:380px;
    transform: translateY(-3rem);
    /* border: 1px solid */
  }

  #arrow {
    scale:0.7
  }

  #homepage {
    display: flex;
    flex-direction: column;
    /* border: 1px solid */
  }

  p {
    font-size: 20px;
    /* border: 1px solid; */

  }

  #navbar-items {
    display: none
  }

  #brands-through-art {
    display: flex;
    flex-direction: column;
  }

  /* second page */
    #art-text {
      transform: translate(0rem,0rem);
      width: fit-content;
    }
  
    
  
    #brands-through-art {
      margin-top: -48rem;

    }

    #about-para {
      transform:translate(1rem,44rem);
      width:20rem;
      
    }

    #door {
      opacity:0.2;
      scale:0.7;
      transform: translateX(-4rem);
    }

    #map{
      width:360px;
      transform: translateY(-10rem);
      
    }

    #building-brands-through-art {
      transform: translate(1rem,40rem);
      z-index:1;
      font-size: 48px;
      width:24rem
    }

    /* third page */

    #crafting {
      font-size:2rem;
      margin-top:-20rem;
      width:20rem

    }

    #crafting-web-desc {
      font-size:20px;
    }

    #experience {
      display:flex;
      flex-direction: column;
      gap: 2rem;
      border: none;
      padding-left: 0rem;
      width: 48rem;
      height: 18rem;
      border-radius: 200px;
      margin-bottom: 8rem;
    }

    #exp-1-head {
      font-size:7rem ;
      width:12rem
    }
    #exp-2-head {
      font-size: 7rem;
      width: 12rem
    }
        #exp-1-txt {
          font-size: 1.2rem;
          width: 12rem
        }#exp-2-txt {
          font-size: 1.2rem;
          width: 12rem
        }
        #greenline{
          transform:translate(-10rem,15rem);
          overflow:hidden;
          width:150px;
          height:275px;
          /* border:1px solid; */
        }

        /* fourth page */

        #features{
          display:flex;
          flex-direction:column;
          /* border: 1px solid; */

        }

        /* fifth page */

        #work {
          margin-top:-4rem;
        }

        #work-items {
          display:flex;
          flex-direction: column;
          gap:1rem;
          flex-wrap: nowrap;
          
          
        }
        
        #impact {
          width:23rem;
          height:15rem;
        }
        
        #impact {
          width:23rem;
          height:15rem;
        }
        
        #amplify {
          width:23rem;
          height:13rem
        }
        #talenthub {
          width:23rem;
          height:13rem;
          

        }
        #davinci{
          width:23rem;
          height:15rem
        }

        #figuredisplay{
          width:23rem;
          height:13rem;
        }
        #aura {
          width:23rem;
          height:13rem
        }

        /* sixth page */

        #membership-benefits-desc {
          display:flex;
          flex-direction: column;
          gap:0rem;
        }

        #mem-img {
          display:none;

        }

        /* seventh  page */

        #mem-title {
          font-size:3rem;
        }

        #mem-details {
          display:flex;
          flex-direction:column;

            gap: 0rem;
            align-items: start;

        }
        #mem-left-desc {
          width:340px;

        }

        #book-a-call {
          /* border: 1px solid; */
          width:18rem
        }

        /* contact page */
        #contact {
                  margin-top: 2rem;
                  display: flex;
                  
                }
        #contact-left {
          display:none;
        }
        #contact-right {
          width:340px
        }

        .link {
          font-size:2rem;
        }

        
        
}